a {
  color: rgb(30, 30, 30);
  font-weight: 400;
  text-decoration: none;
}

.app-wrapper {
  padding: 10px;
}

.content {
  max-width: 1280px;
  width: 95vw;
  min-height: 55vh;
  margin: 0px auto;
  margin-top: 120px;
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
